<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iapps.common_library"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"
        tools:overrideLibrary="com.dd.circular.progress.button, com.balysv.materialripple, com.google.android.gms.maps, com.doomonafireball.betterpickers, com.google.android.gms.location, com.google.android.gms, com.google.android.gms.gcm"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        >
    </application>

</manifest>
